.main {
  background-color: #8d76ffed;
  width: 950px;
  height: 1500px;
  margin: auto;
  margin-bottom: 45px;
  border-radius: 5%;
}

body {
  background-image: url(/resources/Aanlichten\ Middelburg_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Verdana, Tahoma, sans-serif;
}

body div div div p {
  float: right;
  color: #c7c6e0;
  text-shadow: 2px 2px #6464655f;
  height: 133px;
}

body div footer {
  margin-right: -40px;
  text-shadow: 2px 2px #6464655f;
  width: 850px;
  height: 25px;
}

body div div {
  width: 850px;
  margin: auto;
}

table,
th,
td {
  color: #c7c6e0;
  border: 1px solid;
  border-collapse: collapse;
  border-color: #22215d;
  text-shadow: 2px 2px #6464655f;
}

th, td {
  text-align: center;
}


table {
  height: 1000px;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

ol {
  color: #c7c6e0;
  text-shadow: 2px 2px #6464655f;
}


footer a {
  color: #DBBFDB;
  font-size: 20px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 3px;
}

body div div div img {
  padding-top: 55px;
  float: left;
  width: 33.33%;
  height: 282.3px;
}

body div div div div {
  height: 350px;
}

h2 {
  color: #a6c7ff;
  text-shadow: 3px 3px #6464655f;
  font-size: 25px;
}

footer {
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 10%;
  right: 10%;
  height: 50px
}

div {
  position: relative;
}

nav {
  position: relative;
  text-align: left;
  margin-left: 15px;
  font-size: 20px;
}

figcaption {
  color: #c7c6e0;
  text-shadow: 2px 2px #6464655f;
}

nav a {
  color: #DBBFDB;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-shadow: 2px 2px #6464655f;
}

a:hover {
  color: white;
  filter: brightness(135%);
  filter: drop-shadow(5px 5px 7px rgba(115, 241, 255, 0.866));
}

a:active {
  color: #7371FC;
  text-decoration: underline;
}

.columns {
  display: table;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-top: 40px;
  margin-bottom: 20px;
}

.center_hz {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2px;
  margin-top: 25px;
  width: 150px;
  height: 150px;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 15px;
}

.section1 {
  float: left;
  height: 50px;
  width: 160px;
  margin-top: 15%;
  margin-left: 13%;
  color: #c7c6e0;
  text-align: left;
  width: 250px;
  text-shadow: 2px 2px #6464655f;
}

.section2 {
  float: right;
  height: 50px;
  width: 160px;
  margin-top: 15%;
  margin-right: 5%;
  color: #c7c6e0;
  text-align: left;
  width: 300px;
  text-shadow: 2px 2px #6464655f;
}

.section3 {
  float: left;
  height: 50px;
  width: 160px;
  margin-top: 27%;
  margin-left: 13%;
  color: #c7c6e0;
  text-align: left;
  width: 270px;
  text-shadow: 2px 2px #6464655f;
}

.section4 {
  float: right;
  height: 50px;
  width: 160px;
  margin-top: 27%;
  margin-right: 11%;
  color: #c7c6e0;
  text-align: left;
  width: 250px;
  text-shadow: 2px 2px #6464655f;
}

.groter {
  text-align: center;
  color: #a6c7ff;
  font-size: 45px;
  text-shadow: 3px 3px #6464655f;
  height: 40px
}

.fleft {
  float: left;
  font-size: 15px;
}

.fright {
  float: right;
  font-size: 15px;
  padding-left: 15px;
}

.positivelist {
  float: left;
  margin-left: -20px;
}

.negativelist {
  float: right;
  margin-right: 45px;
}

.aboutmeheader {
  margin-top: 90px;
  text-align: center;
}

.aboutme {
  text-align: left;
  color: #c7c6e0;
  text-shadow: 2px 2px #6464655f;
}

.aligndots {
  margin-left: -15px;
}

.topmargin {
  margin-top: 65px;
  text-align: center;
}

.instapadding {
  margin-left: 140px
}

.figleft {
  width: 33.33%;
  text-align: center;
}

.figcenter {
  margin-top: -17px;
  margin-left: 33.33%;
  width: 33.33%;
  text-align: center;
}

.figright {
  width: 33.33%;
  margin-left: 66.66%;
  margin-top: -20px;
  text-align: center;
}

.indexheight {
  height: 1850px;
}

.indexfooter {
  bottom: 2%;
  position: absolute;
}

.profilefooter {
  bottom: 2%;
  position: absolute;
}

.dashboardfooter {
  bottom: 2%;
  position: absolute;
}

.faqfooter {
  bottom: 2%;
  position: absolute;
}

.blogfooter {
  bottom: 2%;
  position: absolute;
}

.postsfooter {
  bottom: 2%;
  position: absolute;
}