.main {
  background-color: #a594f9;
  width: 800px;
  height: 1000px;
  margin: auto;
  margin-bottom: 45px;
  border-radius: 5%;
}

body {
  color: rgb(0, 0, 0);
  background-image: url(/resources/hz_middelburg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first {
  font-size: 15pt;
}

#test {
  color: rgb(17, 0, 249);
  font-size: 40pt;
  text-decoration: underline;
}

div, header {
  text-align: center;
  display: block;
  width: 40%;
  position: relative;
}

nav {
  position: relative;
  text-align: left;
  margin-left: 15px;
}

p {
  margin-top: 25px;
  margin-bottom: 65px;
  font-size: 20px;
}

.center_hz {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2px;
  margin-top: 25px;
  width: 150px;
  height: 150px;
}

.center2 {
  text-align: center;
  display: block;
  margin-left: 77%;
  margin-right: 50%;
  border-radius: 50%;
  margin-top: 15px;
}

a {
  color: #E5D9F2;
}

a:hover {
  color: #F5EFFF;
}


