.main {
  background-color: #8d76ffed;
  width: 800px;
  height: 1000px;
  margin: auto;
  margin-bottom: 45px;
  border-radius: 5%;
}

.groter {
  color: #514efe;
  font-size: 45px;
  text-shadow: 3px 3px #6464655f;
  font-family: Verdana, Tahoma, sans-serif;
  height: 40px
}

body {
  color: rgb(0, 0, 0);
  background-image: url(/resources/Aanlichten\ Middelburg_0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div {
  text-align: center;
  display: block;
  width: 40%;
  position: relative;
}

nav {
  position: relative;
  text-align: left;
  margin-left: 15px;
}

.grid {
  font-size: 20px;
  font-family: Verdana, Tahoma, sans-serif;
}

.center_hz {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2px;
  margin-top: 25px;
  width: 150px;
  height: 150px;
}

.center2 {
  text-align: center;
  display: block;
  margin-left: 77%;
  margin-right: 50%;
  border-radius: 50%;
  margin-top: 15px;
}

a {
  color: #DBBFDB;
}

a:hover {
  color: white;
}

a:active {
  color: #7371FC;
}

.columns {
  display: table;
  row-gap: 5px;
  float: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-top: 40px;
  margin-bottom: 20px;
}